#skills {
  padding: 4% 10%;
  color: #f8fafc;
  background-color: #0f172a;
  text-align: center;
  min-height: 980px;
}

.skills-h1-div {
  margin-bottom: 3rem;
}

.skills-h1 {
  font-size: 2.5rem;
  color: #00f2fe;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin-left:450px;
  text-decoration:underline;
  gap: 1rem;
}

.skills-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 2rem;
  max-width: 1000px;
  margin: 0 auto;
  justify-items: center;
}

.react {
  /* width:100px;
  height:100px; */
  /* align-items:center;justify-content:center; */
    width: 140px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #4f46e5;
  border-radius: 12px;
  padding: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 15px #00f2fe;
}

.react:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 25px rgba(0, 242, 254, 0.4);
}

.react h5 {
  margin-top: 0.8rem;
  font-size: 1.5rem;
  color: #00f2fe;
}
